<head>
<h1>Result</h1>
<title><Generated Result></title>
</head>

<body>
<p> Name : <%= info[0]%></p>

<img src=<%= info[1]%> alt = <%= info[1]%> style="width:500px;height:600px;">

<p> Status : <%= info[2]%></p>

<a href=<%= info[3]%>>Visit the website</a>

<p> Rating : <%= info[4]%></p>

<p> Price : <%= info[5]%></p>

<p> Location : <%= info[6]%></p>

<p> Phone Number : <%= info[7]%></p>

<form action:"/save", method = "POST">

	
	<button>SAVE THIS RESTAURANT PLZ</button>


</form>


</body>